.profile__info {
  margin-left: 30px;
  display: grid;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-areas: 
  'name edit'
  'description .';
  grid-column-gap: 18px;
  grid-row-gap: 16px;
}

@media screen and (max-width: 679px) {
  .profile__info {
    margin: 26px 0 0 0;
    grid-column-gap: 10px;
  }
}
