.popup__button-save {
  font-size: 18px;
  color: #fff;
  background-color: rgba(0, 0, 0, 1);
  max-width: 358px;
  width: 100%;
  height: 50px;
  border: none;
  margin: 18px 36px 37px;
  border-radius: 2px;
  transition: background-color .2s ease-out;
  cursor: pointer;
  padding: 0;
}

.popup__button-save:hover {
  background-color: rgba(0, 0, 0, .8);
}

.popup__button-save:disabled {
  background-color: #fff;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
}

.popup__button-save:disabled:hover{
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
  outline: none;
}

@media screen and (max-width: 540px) {
  .popup__button-save {
    font-size: 14px;
    margin: 45px 22px 25px;
    max-width: 238px;
    height: 46px;
  }
}
