.popup__text-field {
  margin: 0 36px;
  max-width: 358px;
  width: 100%;
  font-size: 14px;
  color: #000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 0 0 8px 0;
  outline: none;
}

.popup__text-field:first-child{
  margin-top: 50px;
}

@media screen and (max-width: 540px ) {
  .popup__text-field {
    max-width: 238px;
    margin-left: 22px;
    margin-right: 22px;
  }
  .popup__text-field:first-child {
    margin-top: 76px;
  }
}
