.profile {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 679px) {
  .profile {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 425px) {
  .profile {
    margin: 42px auto 0;
  }
}
