.header__logo {
  display: block;
  width: 142px;
  height: 33px;
  object-fit: contain;
  object-position: center;
  margin: 0;
}

@media screen and (max-width: 679px) {
  .header__logo {
    height: 25px;
    width: 104px;
  }
}
