.element__heart {
  width: 22px;
  height: 19px;
  background: center / cover no-repeat url(../../../images/heart.svg);
  border: none;
  outline: none;
  transition: opacity .2s ease-out;
  cursor: pointer;
}

.element__heart:hover {
  opacity: .5;
}

.element__heart:focus {
  background: center / cover no-repeat url(../../../images/dark-heart.svg);
}

.element__heart:focus:hover {
  opacity: 1;
}
