.elements {
  margin-top: 50px;
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 17px;
  grid-template-rows: repeat(2, 361px);
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .elements {
    margin-top: 36px;
  }
}
