.element__heart {
  width: 22px;
  height: 19px;
  border: none;
  outline: none;
  transition: .2s ease-in-out;
  background: center / cover no-repeat url(../../../images/heart.svg);
  cursor: pointer;
}

.element__heart:hover {
  opacity: .7;
  transform: scale(1.2);
}