.profile__add {
  background: center no-repeat url('../../../images/plus.svg') transparent;
  background-size: 22px;
  margin-left: auto;
  border: 2px solid #fff;
  border-radius: 2px;
  padding: 23px 73px;
  cursor: pointer;
  transition: opacity .3s ease-out;
}

.profile__add:hover {
  opacity: .6;
}

@media screen and (max-width: 679px) {
  .profile__add {
    background-size: 16px;
    margin: 36px 0 0 0;
    padding: 23px 139px;
  }
}
