.profile__name {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  margin: 0;
  align-self: center;
  grid-area: name;
  max-width: 294px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .profile__name {
    font-size: 37px;
    line-height: 39px;
  }
}

@media screen and (max-width: 425px) {
  .profile__name {
    font-size: 27px;
    line-height: 29px;
    max-width: 189px;
  }
}
