.element__trash {
  position: absolute;
  background  : center / cover no-repeat url(../../../images/trash.svg);
  width: 18px;
  height: 19px;
  right: 20px;
  top: 20px;
  border: none;
  transition: opacity .3s ease-in-out;
  outline: none;
}

.element__trash:hover {
  opacity: .6;
  cursor: pointer;
}