.popup__title {
  font-size: 24px;
  font-weight: 900;
  color: #000;
  margin: 36px 0 0 36px;
}

@media screen and (max-width: 540px) {
  .popup__title {
    font-size: 18px;
    margin: 26px 22px 0 15px;
    text-align: center;
  }
}
