.header {
  margin-top: 45px;
  position: relative;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  box-sizing: border-box;
}

@media screen and (max-width: 900px) {
  .header {
    margin-top: 28px;
  }
}

@media screen and (max-width: 679px) {
  .header {
    min-height: 56px;
    margin-left: 0;
    margin-right: 0;
  }
}
